<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <h3>Therapist</h3>
    <a href="/user/chat/">Chat with a Therapist Now!!</a>
    <a href="/user/profile/">Create Your Profile!!</a>
    <a href="/">Music</a>
    <a href="/">Manage your diet</a>
    <a href="/">Manage your sleep</a>
    <ul>
        <li>
            <h4>Thalia Eley</h4>
            Username: thalia245
            A graduate of Cambridge University and University College London’s Institute of Child Health, Thalia Eley is a professor of developmental psychology at King’s College in London. Her publications include over 140 academic articles, with extensive research on genetic and environmental factors and their relation to the treatment of anxiety and depression. She has conducted studies surrounding cognitive behavior therapy for child anxiety and exposure therapy in treating adult phobias. In 2011, Eley was awarded the Macquarie University Research Excellence Award for her study on childhood anxiety.
        </li>
        <li>
            <h4>Dr. Shraboni Nandi</h4>
            Username: shraboni245
            Dr. Shraboni Nandi's innovative therapeutic techniques have redefined the treatment landscape. From mindfulness-based interventions to novel counseling approaches, his work exemplifies a commitment to evolving methodologies for enhanced mental well-being.
        </li>
        <li>
            <h4>Ms Gurpal Kaur</h4>
            Username: gurpal245
            Ms Gurpal Kaur is celebrated for her holistic approach to mental health, seamlessly integrating alternative healing practices. Her emphasis on the mind-body connection has opened new avenues for individuals seeking a comprehensive and integrated approach to well-being.
        </li>

        </li>
    </ul>
</body>
</html>