<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <form method="post" action="">
    {% csrf_token %}
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Describe yourself</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="description" aria-describedby="emailHelp">
        </div>
  
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Age</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="age" aria-describedby="emailHelp">
        </div>
  
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Playlist</label>
        <input type="text" class="form-control" name="playlist" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Contact</label>
        <input type="text" class="form-control" name="contact" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
</body>
</html>